input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pro_info ul {
  display: list-item;
}

.pro_info ul li {
  color: black;
  text-align: left;
}

table {
  margin: 5%;
}

.btn_feed_show ul li button {
  width: 100%;
}

.btn_feed_show ul li {
  margin: 2%;
}

.product_borders {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.feedback_borders {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

@media screen and (max-width:768px) {
  .img_info_show {
    margin-bottom: 3%;
  }
}